.container {
    padding: 10px;
  }

  .Icon{
    font-size: 20px;
    color: rgba(255, 187, 0, 0.925);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header h2 {
    margin: 0;
  }
  
  .icons {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #333;
  }
  
  .icons > svg {
    margin-right: 5px; /* Ajout d'un espace entre l'icône et le texte */
  }
  
  .icons:hover {
    color: #666;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 5px;
    width: 50px;
    height: 36px;
    background-color: #141414;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }

  .navbar {
    border: 1px solid rgb(5, 5, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 187, 0, 0.925);
  }
  
  .navbar a {
    margin: 10px 20px; /* Adjust the margin as needed */
  }

  .navbar a:hover{
    color: rgba(4, 68, 187, 0.925);
  }

  img{
    height: 400px;
    width: 2000px;
  }

  .navbar {
  background-color: rgba(255, 187, 0, 0.925); /* Couleur de fond de la barre de navigation */
}

.navbar-brand {
  color: #0a0a0a; /* Couleur du texte du logo de la barre de navigation */
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #070606; /* Couleur du texte des liens de la barre de navigation */
}

.nav-icons {
  margin-right: 5px; /* Marge à droite des icônes des liens */
  font-size: 20px;
}

.nav-icons-red {
  margin-right: 5px; /* Marge à droite des icônes de déconnexion */
  color: red; /* Couleur des icônes de déconnexion */
}